menu "AGCORE CONFIG"

rsource "transport/ble/Kconfig"
rsource "common/console/Kconfig"
rsource "common/lifecycle/Kconfig"
rsource "common/persist/Kconfig"
rsource "driver/pixel/Kconfig"
rsource "driver/display/Kconfig"

endmenu
